manifest {
    name = 'hifi-assembly-compleasm'
    description = 'Automated hifiasm and YaHS chromosome-scale assembly with Compleasm and Hi-C maps.'
    mainScript = 'main.nf'
    version = '1.0.0'
}

params {
    outdir = 'results'
    sample = 'hifi_assembly'
    hifiasm_extra = '-l 2'
    lineage = 'sauropsida'
    odb = 'odb12'
    run_compleasm_on = 'total,scaffolded'
    download_lineage = false
}

process {
    errorStrategy = 'terminate'
    maxRetries = 0

    withLabel: small {
        cpus = 1
        memory = '4 GB'
        time = '2h'
    }

    withLabel: stats {
        cpus = 1
        memory = '8 GB'
        time = '4h'
    }

    withLabel: hifiasm {
        cpus = 32
        memory = '50 GB'
        time = '30h'
    }

    withLabel: compleasm {
        cpus = 16
        memory = '64 GB'
        time = '48h'
    }

    withLabel: contact_map {
        cpus = 8
        memory = '50 GB'
        time = '48h'
    }

    withLabel: hic_mapping {
        cpus = 25
        memory = '50 GB'
        time = '100h'
    }

    withLabel: yahs {
        cpus = 1
        memory = '10 GB'
        time = '10h'
    }

    withLabel: download {
        cpus = 1
        memory = '2 GB'
        time = '2h'
    }
}

profiles {
    local {
        process.executor = 'local'
    }

    conda {
        conda.enabled = true
        process {
            conda = "${projectDir}/envs/assembly.yml"
        }
    }

    docker {
        docker.enabled = true
        process {
            container = 'quay.io/biocontainers/hifiasm:0.25.0--h5ca1c30_0'

            withLabel: compleasm {
                container = 'huangnengcsu/compleasm:v0.2.8'
            }

            withLabel: stats {
                container = 'continuumio/miniconda3:latest'
            }

            withLabel: small {
                container = 'continuumio/miniconda3:latest'
            }

            withLabel: contact_map {
                container = 'continuumio/miniconda3:latest'
            }

            withLabel: hic_mapping {
                container = 'continuumio/miniconda3:latest'
            }

            withLabel: yahs {
                container = 'continuumio/miniconda3:latest'
            }
        }
    }

    singularity {
        singularity.enabled = true
        process {
            container = 'docker://quay.io/biocontainers/hifiasm:0.25.0--h5ca1c30_0'

            withLabel: compleasm {
                container = 'docker://huangnengcsu/compleasm:v0.2.8'
            }

            withLabel: stats {
                container = 'docker://continuumio/miniconda3:latest'
            }

            withLabel: small {
                container = 'docker://continuumio/miniconda3:latest'
            }

            withLabel: contact_map {
                container = 'docker://continuumio/miniconda3:latest'
            }

            withLabel: hic_mapping {
                container = 'docker://continuumio/miniconda3:latest'
            }

            withLabel: yahs {
                container = 'docker://continuumio/miniconda3:latest'
            }
        }
    }

    slurm {
        process.executor = 'slurm'
        executor.queueSize = 50
    }
}
